


.homePage {

background-color: green;
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0Re4s9gr_xFvz6s1Zea0hw1gF-PQPEKO5dg&usqp=CAU');
background-size: cover;
height: 100vh;
}


.content-container {
    display: flex; /* Make the container a flex container */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh; /* Ensure the container covers the full viewport height */
  }




.welcome-message {
    font-size: 50px;
    color: white;
    opacity: 0; /* Start with zero opacity (invisible) */
    animation: fadeIn 10s ease-in-out forwards; /* Apply the animation */
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1; /* Fade in to full opacity */
    }
}