


.homePage {

background-color: green;
background-image: url('https://images.unsplash.com/photo-1696790360152-3429effe6a99?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
background-size: cover;
height: 200vh;
}


.content-container {
    display: flex; /* Make the container a flex container */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh; /* Ensure the container covers the full viewport height */
  }




.welcome-message {
    font-size: 50px;
    color: white;
    opacity: 0; /* Start with zero opacity (invisible) */
    animation: fadeIn 10s ease-in-out forwards; /* Apply the animation */
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1; /* Fade in to full opacity */
    }
}

.weather-card .card-content {
  height: 715px; /* Set the desired height for the content */
  overflow-y: auto; /* Add a scrollbar if the content exceeds the height */
}

.finch .card-content {
  height: 715px; /* Set the desired height for the content */
  overflow-y: auto; /* Add a scrollbar if the content exceeds the height */
}



.leftAlignedHeading {
  text-align: left;
}