


.homePage {

background-color: green;
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0Re4s9gr_xFvz6s1Zea0hw1gF-PQPEKO5dg&usqp=CAU');
background-size: cover;
height: 100vh;
}

